* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Nav Menu */
nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 7vh;
  background-color: #903f34;
  opacity: 0.8;
}

.logo {
  height: 50%;
}

ul li {
  list-style: none;
  float: right;
  padding-right: 4rem;
}

li a {
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

li a:hover {
  color: black;
}

/* Header Section 1 */
#header {
  height: 100vh;
  background: url("img/banner-01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Introduction Section 2 */
#intro {
    text-align: center;
    height: 125vh;
  }
  
  .introduction {
    padding: 5rem 40rem 5rem 40rem;
  }
  
  #intro h1 {
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: #434343;
  }
  
  #intro p{
    font-family: "Bodoni Moda", serif;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }
  
  .introbtn {
    text-decoration: none;
    background:  #903f34;
    color: white;
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    border-radius: 0.4rem; 
  }
  
  .mushroom-img img{
    padding: 2rem 4rem 0rem 4rem;
  }
  
  .mushroom-img {
    display: flex;
    justify-content: center;
  }
  
  .mushroom-img h2 {
    padding: 2rem 0 0 1.8rem;
  
  }
  
  .mushimg1, 
  .mushimg2, 
  .mushimg3 {
    text-align: center;
    font-family: "Poppins", sans-serif;
  
  }

  /* Umami Section 3 */

#umami {
    height: 70vh;
    background: url("img/recipe-banner.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  /* Nutrition Section 4 */
  
  #nutrition {
    height: 90vh;
    position: relative;
  }
  
  .shroomimg {
    float: right;
    padding-right: 10rem;
    padding-top: 8rem;
  } 
  
  .nutritiontext {
  position: absolute;
  font-family: "Poppins", sans-serif;
  top: 25%;
  left: 15%;
  }
  
  .nutritiontext h2 {
    font-size: 5.5rem;
    text-transform: uppercase;
    padding-bottom: 2rem;
  }
  
  .nutritiontext p {
    font-size: 1.5rem;
  }
  
  .readbtn {
    text-decoration: none;
    background:  #903f34;
    color: white;
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    border-radius: 0.4rem; 
    font-size: 1.5rem;
    position: absolute;
    top: 72%;
    left: 15%;
  }
  
  .readbtn:hover {
    color: white;
    background:  #903f34;
  }

  /* Articles Section 5 */

.latest-articles img {
    padding: 2rem 2rem 0rem 2rem;
  }
  
  #articles {
    height: 120vh;
  }
  
  #articles h2 {
    font-family: "Poppins", sans-serif;
    font-size: 3.5rem;
    text-align: center;
    padding: 8rem 0 2rem 0;
  }
  
  .latest-articles {
    display: flex;
    justify-content: center;
  }
  
  .seebtn {
    color: #434343;
    font-family: "Poppins", sans-serif;
    position: absolute;
    left: 47%;
    padding-top: 2.5rem;
    font-size: 1.4rem;
  }